/* Set font and background color for the Navbar */
.navbar {
    font-family: "Public Sans", monospace;
    background-color: #FEFFFF;
    color: #2B7A78;
    }

  /* Style the Navbar Brand link */
    .navbar-brand {
    font-size: 1.5rem;
    font-family: "monaco", monospace;
    font-weight: bold;
    color: #2B7A78 !important;
    }

  /* Style the Navbar Links */
    .navbar-nav .nav-link {
    font-size: 1.2rem;
    margin-right: 1rem;
    color: #2B7A78;
    transition: all 0.2s ease-in-out;
    }

    .navbar-nav .nav-link:hover {
    color: #17252A;
    }

  /* Style the active NavLink */
    .navbar-nav .active {
    font-weight: bold;
    color: #007bff;
    }

  /* Style the Login/Register links */
    .navbar-nav .login {
    margin-right: 1rem;
    }

  /* Style the Logout link */
    .navbar-nav .logout {
    color: #dc3545;
    }

  /* Style the Admin Dashboard link */
    .navbar-nav .admin-dashboard {
    color: #28a745;
    }

  /* Set media query for smaller screens */
    @media (max-width: 768px) {
    .navbar-nav .nav-link {
    margin-right: 0;
    }
    }


    .navbar-nav .nav-link.active {
        color: red;
    }      